<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "resto.png", height: 50  %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  </div>
  </div>


<div class="container">
  <h2>Restaurants</h2>
<%= link_to "Create a new restaurant", new_restaurant_path(@restaurant)  %>
  <% @restaurants.each do |r| %>
    <h3><%=link_to r.name, restaurant_path(r) %></h3>

  <% end %>
</div>
